<!DOCTYPE html>
<html>
<head>
	<style>
		
body{background-color: powderblue;}
h1{color:blue;}
p{coor:red;}

	</style>
</head>
<body>

<h1>this is CSS Internal page</h1>

<p>
	let get start jump to external CSS.

</p>
<a href="www.facebook.com">click here</a>




</body>
</html>